
.plugin-gridster.jeux .front {
  background: #c82d41 url('images/jeux.PNG') center 10px;
  background-size:   150px 150px;
  background-repeat: no-repeat;
}

.plugin-gridster.jeux .back {
  background: #FFFFFF;
}